
	.bodydiv{
		margin: 0;
		padding: 0;
		padding-left: 0px !important;
                padding-right: 0px !important;
	}
	.maindiv1{
		margin: 0;
		padding: 0;
		 background: url(images/backgroundmain.jpg) no-repeat ;
		  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	}
	.header{
		text-align: center;
		color: white;
		  padding-top: 1%;
    padding-bottom: 2%;
	}
	.logoheader{
		padding: 1%
	}
	.headerleft i{
		color: white;
	}
	.headermid a{
		text-decoration: none;

	}
	.headermid a span{
		color: white;
	}
	.headerright a{
		text-decoration: none;
		color: white;
	}
	.tagheader{
    text-align: center;
    padding: 1%;
    font-size: 22px;
}
	.tagheader ul a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px;
}
.firstdivbody ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    padding: 5%;
    padding-bottom: 0px;
}
.unorderedbtn{

    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
	}
	.unorderedbtn li {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.innerheader{
	    padding: 20px;
    text-align: center;
}

.trywithus{
	    background: #8D46CF;
    padding: 7px;
    color: #EBED1A;
}

.firstdivbody h4{
	font-style: italic;
}
.sixthdiv h5{
	font-style: italic;
	text-align: center;
}
.firstdivbody{
    color: white;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 7%;
}
.firstdivbody ul li {
	    margin-left: 2%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    padding: 2%;
    margin-right: 3%;
    background: #8D46CF;
    color: #DBC98D;
}
.partners ul{
 list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    }
 .partners ul li{
    display: inline-block;
    position: relative;
    cursor: pointer;

 }
 .transparent{ background:rgba(0,0,0,0.6) !important; }
 .seconddiv h1 {
    text-align: center;
    padding: 2%;
        font-weight: bold;
        font-size: 60px;
}
 .center{
 	text-align: center;
 }
 .seconddiv h4{
 	    font-style: italic;
 }
 .seconddivlasttag{
 	    font-style: normal !important;
    color: #8D46CF;
    font-weight: 500;
    padding: 30px;
 }
 .seconddiv{
 	    padding-bottom: 5%;
 }
 .thriddiv{
	background: url(images/thrid3.png) no-repeat ;
		  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.thriddivheader{
	padding-bottom: 10%;
}
.thriddivheader h1{
	    text-align: center;
    color: white;
    padding: 2%;
        font-weight: bold;
        font-size: 80px;
    margin-top: 25%;
}
.thriddivlasttag{
    font-style: normal !important;
    color: #8D46CF;
    font-weight: 500;
    padding: 15%;
    padding-bottom: 5%;
}
.btnupload{
	    display: inline-block;
    width: 50%;
    background: #8d46cf;
    padding: 3%;
    margin-left: 20%;
}
.btnimgtext{
	    padding-left: 10%;
    color: #DBC98D;
}

.fourthdiv{
	padding: 5%;
	border-top: 2px solid black;

}
.fourthdiv img{
	width: 50%;
	float: right;
}
.fourthdivcontentupper h1{
	    font-size: 60px;
    color: #D49B5C;
}
.fourthdivcontentupper h4{
	    text-align: left;
    font-weight: bold;
    font-size: 16px;
}
.fourthdivcontentlower p{
	float: left;
    border: 1px solid;
    padding: 15px;
    border-radius: 5px;
    color: #D49B5C;
    margin-right: 5%;
}
.fifthdiv {
	background: #BB97D9;
}

.fifthdiv h1{
    font-size: 60px;
    color: white;
    text-align: center;
}
.sixthdiv h1{
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 25px;
    font-weight: bold;
}
.sixthdiv h4{
	    color: black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.fifthdiv h4{
	    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
a:focus, a:hover {
 
    text-decoration: none;
}

.fifthdiv p{
    text-align: center;
    text-decoration: none;
    
    width: 30%;
    padding: 2%;
    font-size: 18px;
    margin-left: 35%;
}
.fifthdiv h5{
	text-align: center;
	font-style: italic;
	font-size: 14px;
	color: white;
}
.sixthdiv{
	    background: #DFDDD0;
}
.sixthdiv ul {
    list-style: none;
    padding-bottom: 25px;
}
.sixthdiv ul li {    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 24%;
    border: 2px solid #8D46CF;
    text-align: center;
        border-radius: 5px;
}
.sixthdiv ul h3{
	margin: 0px;
    padding: 15px;
    background: #8D46CF;
    color: #DBC98D;
}
.sixthdiv h6{
	color: #8D46CF;
}
.tagbutton {
    text-align: center;
    background: #DBC98D;
    width: 40%;
    padding: 15px;
    margin-left: 30%;
    font-weight: bold;
    color: #8D46CF;
    margin-right: 30%;
    margin-bottom: 5%;
}
.seventhdiv h1{
	font-size: 60px;
    color: black;
    text-align: center;
    padding: 25px;
    font-weight: bold;

}
.seventhdiv{
	text-align: center;
	    background: #F2BDC5;
}
.tagbuttonlast{
	    background: #DBC98D;
    padding: 10px;
    font-size: 24px;
    color: #8D46CF;
}
.tagbuttonlastdiv{
	    background: #DFCF30;
    padding: 10px;
    font-size: 24px;
    color: #8D46CF;

    width: 20%;
    margin-left: 40%;
    margin-top: 20%;
}
.eightdiv {
	padding: 0;
	text-align: center;
	    opacity: 0.9;
	background: url(images/Layer5.png) no-repeat ;
		  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.eightdiv h1{
	font-size: 60px;
    color: #DBC98D;
    text-align: center;
    padding: 25px;
    font-weight: bold;

}
.eightdiv h4{
	padding-left: 20%;
	padding-top: 5%;
	padding-right: 20%;
	color: #DBC98D;
	    font-weight: bold;
}
.ninethdiv{
	text-align: center;
	background: #DFDDD0;
}
.ninethdiv ul {
    list-style: none;
    padding-bottom: 25px;
}
.ninethdiv ul li { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding: 3%;
    margin-right: 33px;
    background: #8D46CF;
    color: #DBC98D;
}
.ninethdiv h1{
	font-size: 60px;
    color: black;
    text-align: center;
    padding: 25px;
    font-weight: bold;
	padding-top: 5%;

}
.ninethdiv h4{
	padding: 3%;
}
.tenthdiv ul{
	list-style: none;
    padding-bottom: 10px;
}
.firstdivbody h4 span{
	color: white;
}
.overlay{
	background:rgb(141, 70, 207) !important;

}
